@import url('../../../assets/styles/general.css');
@import url('../../../assets/styles/general.resume.css');

.simpleListWithIcon-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 3px var(--new-black) solid;
    border-radius: var(--border-radius);
    padding: 1.5rem;
}

.simpleListWithIcon-li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-left: -2.4rem;
}

.simpleListWithIcon-li:last-child {
    margin-bottom: 0;
}

.markerFrame {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    user-select: none;
}

.simpleListWithIcon-li:nth-child(2n-1) > .markerFrame{
    background-color: rgb(var(--primary-rgb));
    box-shadow: 5px 5px 20px 10px rgba(var(--primary-rgb), 0.3);
}

.simpleListWithIcon-li:nth-child(2n) > .markerFrame{
    background-color: rgb(var(--secondary-rgb));
    box-shadow: 5px 5px 20px 10px rgba(var(--secondary-rgb), 0.3);
}

.markerFrame .markerSvg {
    width: 80%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(1deg) brightness(114%) contrast(103%);
}

.markerFrame .markerFontIcon {
    color: var(--new-white);
    font-size: 2rem;
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400;
}

.simpleListWithIcon-text {
    color: var(--new-black);
}