@import url('../../../static/general.css');
@import url('../../../static/general.resume.css');

h1 {
    margin: 20px 0;
    flex-grow: 1;
}

.listWithIcon-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.listWithIcon-li {
    margin-bottom: 1.5rem;
}

.listWithIcon-li:last-child {
    margin-bottom: 0;
}

.listWithIcon-li a {
    text-decoration: none;
}

.listWithIcon-li a:hover {
    background-color: var(--new-black);
    color: var(--new-white);
}

.listWithIcon-box {
    display: inline-block;
    width:fit-content;
    background-color: var(--shadowed-background);
    border-radius: var(--border-radius);
    padding-right: 0.7rem;
}

.marker-icon {
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--new-black);
    color: var(--new-white);
    display: inline-block;
    vertical-align: middle;
    font-family: 'Material Symbols Outlined';
    margin-right: 0.6rem;
    border: 3px var(--new-black) solid;
    border-radius: var(--border-radius);
    text-align: center;
    font-variation-settings: 'FILL' 0, 'wght' 400;
    user-select: none;
}