@import url('../../../assets/styles/general.css');
@import url('../../../assets/styles/general.resume.css');

.profileArea-portrait {
    margin-top: -100px;
    margin-bottom: 1rem;
}

.portrait-frame {
    width: 300px;
    height: 370px;
    position: relative;
    border-radius: 0% 0% 200px 100px / 200px 170px 130px 100px ;
    overflow: hidden;
}

.portrait-picture {
    display: block;
    width: 300px;
    height: 450px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.portrait-frame-background {
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    z-index: 0;
    background-color: var(--new-black);
    border-radius: 95px 210px 200px 100px / 200px 170px 130px 100px ;
}