@import url('../../../static/general.css');
@import url('../../../static/general.resume.css');

.item-profileArea {
    margin: 25px 0;
    position: relative;
}

.profileArea-portrait {
    margin-bottom: -100px;
}

.profileArea-box {
    border-radius: var(--border-radius);
    color: var(--new-white);
}

.profileArea-intro {
    padding: 1rem 1.5em;
    background-color: var(--new-black);
}

.container {
    padding: 80px 10px;
    background-color: rgb(243, 242, 233);
}

.columns-wrapper {
    background-color: rgb(254, 254, 254);
    box-shadow: 15px 15px 40px 10px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
    max-width: 930px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.grid-item {
    order: 999;
    margin-bottom: 30px;
}

.column {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.left-column {
    max-width: 300px;
    margin-right: 30px;
}

.right-column {
    max-width: 600px;
    flex-grow: 1;
}

@media screen and (max-width: 690px) {
    .container {
        padding: 10px;
    }

    .left-column {
        margin-right: 0 !important;
        min-width: max(300px, 100%) !important;
        flex-grow: 1 !important;
    }

    .right-column {
        display: none !important;
    }
}

.profile-area {
    width: 100%;
    height: 250px;
    background-color: blanchedalmond;
    position: relative;
    margin-top: -30px;
}

.contact-info {
    display: flex;
}

.listSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listSection > div {
    flex-grow: 1;
}

.printableAlert {
    background-color: rgb(255, 245, 201);
    color: rgb(140, 119, 27);
    font-size: 0.8rem;
    line-height: 0.9rem;
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
}

.printableAlertIcon {
    font-family: 'Material Symbols Outlined' !important;
    font-size: 1.4rem;
    margin: 0 0.5rem;
}

@media print {
    :root {
        font-size: 15px !important;
    }

    .container {
        padding: 0;
    }

    .printableAlert {
        display: none;
    }
}

.test {
    background-color: bisque;
}