.grid-wrapper {
    background-color: red;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-columns: minmax(200px, auto);
    grid-auto-rows: minmax(100px, auto);
}

.grid-box {
    background-color: blue;

    grid-column: 1 / 2;
    grid-row: 1;
}

.grid-content {
    background-color: green;
}

.grid-content-header {
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.grid-content-title-group {
    flex-grow: 1;
}

.grid-content-years {
    align-self: flex-end;
}