@import url('../../../assets/styles/general.css');
@import url('../../../assets/styles/general.resume.css');

* {
    box-sizing: border-box;
}











.item-profileArea {
    margin-top: 25px;
    position: relative;
}

.profileArea-portrait {
    margin-top: -100px;
    margin-bottom: 1rem;
}

.profileArea-greeting {
    margin: 1rem 0;
}

.profileArea-comment {
    color: var(--new-black);
}

.container {
    padding: 80px 10px 80px 10px;
    background-color: rgb(243, 242, 233);
}

.columns-wrapper {
    background-color: rgb(254, 254, 254);
    box-shadow: 15px 15px 40px 10px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
    max-width: 930px;
    margin: 0 auto;
    padding: var(--between-items-margin);
    display: flex;
    flex-direction: row;
}

.grid-item {
    order: 999;
    margin-bottom: 30px;
}

.grid-item h1 {
    margin: 20px 0;
    flex-grow: 1;
}

.column {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.left-column {
    max-width: 300px;
    margin-right: var(--between-items-margin);
}

.left-column > *:first-child h1 {
    margin-top: 0;
}

.left-column > *:last-child {
    margin-bottom: 0;
}

.right-column {
    max-width: 600px;
    flex-grow: 1;
}

.right-column > *:first-child h1 {
    margin-top: 0;
}

.right-column > *:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 690px) {
    .left-column {
        margin-right: 0 !important;
        min-width: max(300px, 100%) !important;
        flex-grow: 1 !important;
    }

    .right-column {
        display: none !important;
    }
}

.listSection {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--between-items-margin);
    margin-bottom: 0;
}