.grid-wrapper {
    background-color: red;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-columns: minmax(200px, auto);
    grid-auto-rows: minmax(100px, auto);
}

.grid-box {
    background-color: blue;

    grid-column: 1 / 2;
    grid-row: 1;
}

.grid-content {
    background-color: green;

    display: grid;
    white-space : nowrap;
    grid-template-columns: auto min-content;
    grid-template-rows: repeat(3, 1fr);
}

.grid-content-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-content-subtitle {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.grid-content-years {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.grid-content-text {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}