@import url('../../../static/general.css');
@import url('../../../static/general.resume.css');

:root {
    --left-col-width: 300px;
    --col-gap: 30px;
    --right-col-width: 600px;
}

.container {
    padding: 30px;
}

.section-wrapper {
    background-color: aqua;
    min-width: 300px;
    max-width: 930px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
}

.column-gap {
    content: "";
    width: var(--col-gap);
    height: 100%;
    order: 1;
}

.column-left {
    min-width: var(--left-col-width);
    max-width: var(--left-col-width);
}

.column-right {
    background-color: aquamarine;
    min-width: var(--left-col-width);
    max-width: var(--right-col-width);
}

@media screen and (max-width: 630px) {
    .column-left {
        max-width: 100%;
    }

    .column-right {
        max-width: 100%;
    }

    .listSection {
        flex-direction: column;
    }
}

@media screen and (min-width: 631px) {
    .column-left {
        order: 0;
    }

    .column-right {
        order: 2;
    }
}

.profile-area {
    width: 100%;
    height: 250px;
    background-color: blanchedalmond;
    position: relative;
    margin-top: -30px;
}

.contact-info {
    display: flex;
}

.listSection {
    display: flex;
}

.simpleList {
    flex-grow: 1;
}