.grid-wrapper {
    background-color: red;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-columns: minmax(200px, auto);
    grid-auto-rows: minmax(100px, auto);
}

.grid-box {
    background-color: blue;

    grid-column: 1 / 2;
    grid-row: 1;
}

.grid-section-container {
    background-color: rgb(231, 228, 221);
    padding: 1em;
    border-radius: 1em;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.grid-section-header {
    margin: 5px 10px;
}

.grid-content-header {
    flex-grow: 1;
}

.grid-content {
    margin: 5px 10px;
}

.grid-content-years {
    flex-grow: 0;

    background-color: rgb(217, 222, 69);

    padding: 5px 15px;
    border-radius: 2em;
}

.grid-content-text {
    flex-grow: 2;
}