:root {
    --point-color: rgb(220, 225, 80);
}

h1 {
    margin: 0;

    line-height: 1rem;
    font-size: 1.5rem;
    font-variation-settings: 'wght' 800;
}

h2 {
    margin: 0;

    line-height: 1.5rem;
    font-size: 1.1rem;
    font-variation-settings: 'wght' 800;
}

h3 {
    margin: 0;

    line-height: 1.5rem;
    font-size: 1rem;
    font-variation-settings: 'wght' 600;
    font-style: italic;
}

body {
    line-height: 1.5rem;
    font-size: 1rem;
    font-variation-settings: 'wght' 400;
}