@font-face {
    font-family: 'Anek Latin';
    font-style: normal;
    font-stretch: 75% 125%;
    font-weight: 100 800;
    src:
        url('../fonts/AnekLatin.woff2')
        format('woff2 supports variations'),
        url('../fonts/AnekLatin.woff2')
        format('woff2-variations'),
        url('../fonts/AnekLatin.woff2')
        format('woff2');
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src:
        url('../fonts/MaterialSymbolsOutlined.woff2')
        format('woff2 supports variations'),
        url('../fonts/MaterialSymbolsOutlined.woff2')
        format('woff2-variations'),
        url('../fonts/MaterialSymbolsOutlined.woff2')
        format('woff2');
}

* {
    font-family: 'Anek Latin', serif;
}