:root {
    font-size: 17px;
    --point-color: rgb(107, 95, 229);
    --new-white: rgb(245, 245, 245);
    --new-black: rgb(11, 13, 56);
    --border-radius: 0.5rem;
    --light-background: rgb(238, 238, 238);
    --shadowed-background: rgb(235, 235, 235);
    --between-items-margin: 40px;
    --primary-rgb: 107, 95, 229;
    --secondary-rgb: 224, 69, 34;
}

body {
    line-height: 1.5rem;
    font-size: 1rem;
    font-variation-settings: 'wght' 400;
    color: var(--new-black)
}

a {
    color: var(--new-black);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
    line-height: 1rem;
    font-size: 2rem;
    font-variation-settings: 'wght' 700, 'wdth' 110;
}

h2 {
    margin: 0;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-variation-settings: 'wght' 800;
}

h3 {
    margin: 0;

    line-height: 1.5rem;
    font-size: 1rem;
    font-variation-settings: 'wght' 600;
    font-style: italic;
}