@font-face {
    font-family: 'Anek Latin';
    font-style: normal;
    font-stretch: 75% 125%;
    font-weight: 100 800;
    src:
        url('../fonts/AnekLatin.woff2')
        format('woff2 supports variations'),
        url('../fonts/AnekLatin.woff2')
        format('woff2-variations'),
        url('../fonts/AnekLatin.woff2')
        format('woff2');
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src:
        url('../fonts/MaterialSymbolsOutlined.woff2')
        format('woff2 supports variations'),
        url('../fonts/MaterialSymbolsOutlined.woff2')
        format('woff2-variations'),
        url('../fonts/MaterialSymbolsOutlined.woff2')
        format('woff2');
}

:root {
    font-size: 17px;
    --point-color: rgb(107, 95, 229);
    --new-white: rgb(245, 245, 245);
    --new-black: rgb(11, 13, 56);
    --border-radius: 0.5rem;
    --light-background: rgb(238, 238, 238);
    --shadowed-background: rgb(235, 235, 235);
    --between-items-margin: 36px;
    --primary-rgb: 107, 95, 229;
    --secondary-rgb: 224, 69, 34;
}

$main-white: #f5f5f5;
$sub-white: #ebebeb;
$main-black: #0b0d38;
$primary-color: #6b5fe5;
$secondary-color: #e04522;

$gap-between-items: 36px;
$border-radius: 0.5rem;

* {
    font-family: 'Anek Latin', serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    font-size: 1rem;
    font-variation-settings: 'wght' 400;
    color: $main-black;
}

a {
    color: $main-black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
    line-height: 1rem;
    font-size: 2rem;
    font-variation-settings: 'wght' 700, 'wdth' 110;
}

h2 {
    margin: 0;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-variation-settings: 'wght' 800;
}

h3 {
    margin: 0;

    line-height: 1.5rem;
    font-size: 1rem;
    font-variation-settings: 'wght' 600;
    font-style: italic;
}