@import url('../../../static/general.css');
@import url('../../../static/general.resume.css');

.section-header {
    margin: 20px 0;
    flex-grow: 1;
}

.section-container {
    background-color: rgb(231, 228, 221);
    margin: 0;
    padding: 2em;
    padding-bottom: 1.2rem;
    border-radius: 1rem;
}

.section-container-no-bullet {
    list-style: none;
}

.section-container-list::marker {
    color: var(--point-color);
}

.section-contents-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contents-titles {
    display:block;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contents-period {
    flex-grow: 0;
    margin: 1em 0;
    padding: 3px 17px;
    background-color: var(--point-color);
    border-radius: 2rem;
    font-size: 0.9rem;
    font-variation-settings: 'wght' 700;
}

.contents-content-text {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 0.8rem;
}