@import url('../../../static/general.css');
@import url('../../../static/general.resume.css');

.section-header {
    margin: 20px 0;
    flex-grow: 1;
}

.section-container-ul {
    border: 3px var(--new-black) solid;
    border-radius: var(--border-radius);
    padding: 1.5rem;
}

.section-container-ul-no-bullet {
    list-style: none;
}

.section-container-li {
    margin-left: 1rem; /* section left margin */
}

.section-container-li::marker {
    color: var(--point-color);
}

.section-container-li-not-last {
    margin-bottom: 1.5rem; /* inter-section margin */
}

.section-contents-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contents-titles {
    display:block;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contents-period {
    flex-grow: 0;
    margin: 1rem 0;
    padding: 0 0.8rem;
    background-color: var(--point-color);
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    font-variation-settings: 'wght' 700;
    color: var(--new-white);
    border: 5px var(--point-color) solid;
}

.contents-content-text {
    flex-grow: 1;
    width: 100%;
}